<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>Wi-SUN Ethernet Converter</title>
</head>
<body>
    <h1>Wi-SUN Ethernet Converter</h1>
    <form action="/register" method="post">
        <p>
            <label id="label-bid" for="bid">BルートID</label>
            <input name="bid" id="bid" type="text" />
        </p>
        <p>
            <label id="label-pwd" for="pwd">Bルートパスワード</label>
            <input name="pwd" id="pwd" type="password" />
        </p>
        <p>
            <label id="label-ser" for="ser">シリアルポート</label>
            <select name="ser" id="ser">
                {% for device in devices %}
                <option>{{ device }}</option>
                {% endfor %}
            </select>
        </p>
        <input id="btn-reg" name="post-value" type="submit" value="登録" />
    </form>
</body>
</html>
